html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html{
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blue{
  color: #4FABFF;
}

.blue2{
  color: #92C5F3;
}

.black{
  color: #747474;
}

.black2{
  color: #BFBFBF;
}

.black3{
  color: #c4c4c4;
}

.font-thin{
  font-weight: 100;
}

.font-light{
  font-weight: 300;
}

.font-regular{
  font-weight: 400;
}

.font-medium{
  font-weight: 500;
}

.font-bold{
  font-weight: 700;
}

.font-13{
  font-size: 13px;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

.font-18{
  font-size: 18px;
}

.font-24{
  font-size: 24px;
}

.font-36{
  font-size: 36px;
}

.font-64{
  font-size: 64px;
}